

.list-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.list-title {
  margin-top:50px;
  text-align: center;
  color: white;
}
.thumbnail-grid {
  display: grid;
  align-self:center;
  width: 100%; 
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center
}
.thumbnail-container {
  display: flex;
  align-self:center;
  align-items: center;
  justify-content: center;
  width: 100%; 
}
.thumbnail {
  display :flex;
  margin: 50px;
  gap: 20px;
  justify-content: space-between;
  align-self: center;

}